<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Formulario de Usuario</title>
</head>
<body>
    <h2>Formulario de Usuario</h2>
    <form th:action="@{/usuarios/save}" method="post">
        <table>
            <tr>
                <td><label>Usuario</label></td>
                <td><input type="text" name="nombre"></td>
            </tr>
            <tr>
                <td><label>Email</label></td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td><label>Username</label></td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="submit" value="Guardar">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

